/* more CSS is located in: $ROOT/src/components/file-picker/styles.module.css */

#file-picker-root {
  background-color: #0d1117;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: clamp(200px, 90vw, 980px);
  margin: 0 auto;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
  border: var(--github-border);
  border-radius: var(--github-radius);

  color: white;
  z-index: 10;
  overflow: auto;
}

#file-picker-root[data-visible="true"] + main article {
  filter: blur(5px);
}

#file-picker-root h4 {
  text-align: left;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
}

#file-picker-root h1 {
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--github-gray);
  margin: 0;
  padding: 1rem 0;
}

#search-results-root {
  overflow: auto;
}

#file-picker-root form {
  background-color: var(--github-gray-light);
  padding: 8px;
}

#search-results-root {
  max-height: 50vh;
  overflow: auto;
  background-color: var(--background);
  padding: 8px;
  border-radius: var(--github-radius);
}

#file-picker-root form input {
  width: calc(100% - 8px);
  border: var(--github-border);
  border-radius: var(--github-radius);
  background-color: var(--background);
  font-size: 1.5rem;
  color: white;
  padding-left: 8px;
}

#file-picker-files > div {
  padding: 8px;
  background-color: var(--github-gray-light);
}

#file-picker-files h4 {
  padding: 8px 0px 4px 8px;
  margin: 0;
}
