/* more CSS is located in: $ROOT/src/styles/notifications.css */

.success {
  background-color: var(--notif-green);
  fill: var(--notif-green-text);
  color: var(--notif-green-text);
}
.info {
  background-color: var(--notif-blue);
  fill: var(--notif-blue-text);
  color: var(--notif-blue-text);
}
.error {
  background-color: var(--notif-red);
  fill: var(--notif-red-text);
  color: var(--notif-red-text);
}

.notification {
  width: 300px;
  max-height: 100px;
  border-radius: var(--github-radius);
  cursor: pointer;
  border: 1px solid var(--github-gray-light);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 8px;
  margin-right: 16px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.notification:active {
  scale: 0.95;
}

.notification p {
  padding: 8px;
  margin: 8px 0;
  text-align: left;
}

.time_indicator {
  height: 5px;
  animation-name: slide;
  animation-timing-function: ease;
  opacity: 0.5;
}

.error .time_indicator {
  background-color: var(--notif-red-text);
}

.success .time_indicator {
  background-color: var(--notif-green-text);
}

.info .time_indicator {
  background-color: var(--notif-blue-text);
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
