@import url("../node_modules/github-markdown-css/github-markdown-dark.css");

body {
  background-color: #0d1117;
  overflow: auto;
}

:root {
  --github-gray: #30363d;
  --background: #0d1117;
  --link-blue: #58a6ff;
  --github-gray-light: #161b22;
  --github-green: #238636;
}

.markdown-body-container {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--github-gray);
  border-radius: 6px;
  overflow: auto;
}
.markdown-body-container article {
  padding: 45px;
}

.markdown-body-container header {
  border-bottom: 1px solid var(--github-gray);
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 8px;
}

.markdown-body-container h3 {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  align-self: center;
  overflow: auto;
}

.markdown-body-container header button {
  fill: #7d8590;
  border-radius: 6px;
  background: var(--background);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.1s ease-in-out;
  justify-self: center;
  align-self: center;
}

.markdown-body-container header button:hover {
  background: var(--github-gray);
}

.markdown-body-container header button:nth-of-type(1) {
  margin-right: 8px;
}

.markdown-body a {
  position: relative;
}

.markdown-body a kbd {
  position: absolute;
  top: -10px;
  color: var(--link-blue);
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

span.active-letter {
  color: white;
  font-weight: bold;
}

.active-selection {
  background-color: var(--github-gray);
}

/* --- File Picker --- */
#file-picker-root {
  background-color: #0d1117;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: clamp(200px, 90vw, 980px);
  margin: 0 auto;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--github-gray);
  border-radius: 6px;
  overflow: auto;

  color: white;
  z-index: 10;
}

#file-picker-root[data-visible="true"] + main article {
  filter: blur(5px);
}

#file-picker-root h4 {
  text-align: left;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
}

#file-picker-root h1 {
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--github-gray);
  margin: 0;
  padding: 1rem 0;
}

#search-results-root {
  max-height: 200px;
  overflow: auto;
}

#file-picker-root form {
  background-color: var(--github-gray-light);
  padding: 8px;
  margin-bottom: 16px;
}

#file-picker-root form div {
  background-color: var(--background);
  padding: 8px;
  border-radius: 6px;
}

#file-picker-root input {
  width: calc(100% - 8px);
  border: 1px solid var(--github-gray);
  border-radius: 6px;
  background-color: var(--background);
  font-size: 1.5rem;
  color: white;
  padding-left: 8px;
}
/* ------------------- */
